p {
    color: blueviolet;
    background-color: rgb(15, 11, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 200%;
    border: rgb(24, 190, 79) solid 2px;

}

h1 {
    color: chocolate;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
border-radius: 20px 30px 20px 0;
}